/*======================
    Base Css
=======================*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: auto;
}

body {
    font-size: 15px;
    line-height:25px;
    font-family: 'Roboto', sans-serif;

}

a, 
a:hover,
a:focus,
a:active
{outline: none;
text-decoration: none;
 transition: all .2s ease;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;}

.fix{
    overflow: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding: 100px 0;
}
.section-title{
    padding: 70px 0;
}

.food-box-bg {background-image: url(../images/food.jpg);}
.food-box-bg-2{background-image: url(../images/food-2.jpg);}
.food-box-bg-3{background-image: url(../images/food-3.jpg);}
.food-box-info h3{font-family: 'Great Vibes', cursive;}


.food-box-bg {
    height: 350px;
    width: 100%;
}

.single-food-box {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    z-index: 1;
}

.food-box-info {
    background: #F4F3F4;
    margin-top: -75px;
    position: absolute;
    width: 80%;
    left: 10%;
    z-index: 2;
    border-top: 5px solid #CF963F;
    padding: 15px;
    transition: .3s;
}

.food-box-info {}

.food-box-info h3 {
    font-size: 40px;
    color: #262526;
    font-weight: 700;
    margin: 0 0 15px;
}

.food-box-info h2 {
    font-size: 36px;
    color: #CF963F;
    font-weight: 400;
    margin: 0 0 25px;
}

.food-price {
    font-size: 20px;
    color: #242325;
}

.food-price span {
    font-size: 36px;
    font-weight: 700;
    padding: 0 3px;
}

.bordered-btn {
    display: inline-block;
    color: #CF963F;
    border: 2px solid;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.food-box-info .bordered-btn {
    margin-top: 25px;
}

.single-food-box:hover .food-box-info {
    background: #CF963F;
    border-top: 5px solid #fff;
}

.single-food-box:hover h3 {
    color: #FFF707;
}

.single-food-box:hover h2, .single-food-box:hover .food-price, .single-food-box:hover .bordered-btn {
    color: #fff;
}/*======================
    Base Css
=======================*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: auto;
}

body {
    font-size: 15px;
    line-height:25px;
    font-family: 'Roboto', sans-serif;

}

a, 
a:hover,
a:focus,
a:active
{outline: none;
text-decoration: none;
 transition: all .2s ease;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;}

.fix{
    overflow: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding: 100px 0;
}
.section-title{
    padding: 70px 0;
}

.food-box-bg {background-image: url(../images/food.jpg);}
.food-box-bg-2{background-image: url(../images/food-2.jpg);}
.food-box-bg-3{background-image: url(../images/food-3.jpg);}
.food-box-info h3{font-family: 'Great Vibes', cursive;}


.food-box-bg {
    height: 350px;
    width: 100%;
}

.single-food-box {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    z-index: 1;
}

.food-box-info {
    background: #F4F3F4;
    margin-top: -75px;
    position: absolute;
    width: 80%;
    left: 10%;
    z-index: 2;
    border-top: 5px solid #CF963F;
    padding: 20px;
    -webkit-transition: .3s;
    transition: .3s;
}


.food-box-info h3 {
    font-size: 40px;
    color: #262526;
    font-weight: 700;
    margin: 0 0 15px;
}

.food-box-info h2 {
    font-size: 28px;
    color: #CF963F;
    font-weight: 400;
    margin: 0 0 25px;
    text-transform: uppercase;
}

.food-price {
    font-size: 20px;
    color: #242325;
}

.food-price span {
    font-size: 36px;
    font-weight: 700;
    padding: 0 3px;
}

.bordered-btn {
    display: inline-block;
    color: #CF963F;
    border: 2px solid;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.food-box-info .bordered-btn {
    margin-top: 25px;
}

.single-food-box:hover .food-box-info, .single-food-box.active .food-box-info {
    background: #CF963F;
    border-top: 5px solid #fff;
}

.single-food-box:hover h3, .single-food-box.active h3{
    color: #FFF707;
}

.single-food-box:hover h2, .single-food-box.active .food-box-info h2, .single-food-box:hover .food-price, .single-food-box.active .food-price , .single-food-box:hover .bordered-btn, .single-food-box.active .bordered-btn {
    color: #fff;
}